<h1>Edit Task</h1>

<%= render "shared/errors" %>
<%= render "shared/messages" %>

<%= render "form", task: @task, action: "PATCH" %>
<br>
<div class="foot">
  <a href="<%= tasks_url %>">All Tasks</a>
  <a href="<%= users_url %>">All Users</a>
  <% if current_user %>
    <a href="<%= user_url(current_user) %>">Your Page</a>
  <% end %>
</div>
