<h1>All Users</h1>

<%= render "shared/errors" %>
<%= render "shared/messages" %>

<ul>
  <% @users.each do |user| %>
  <li>
    <p>
      <a href="<%= user_url(user) %>">
        <%= user.username %>
      </a>
    </p>
  </li>
  <% end %>

</ul>


<div class="foot">
  <a href="<%= tasks_url %>">All Tasks</a>
  <a href="<%= users_url %>">All Users</a>
  <a href="<%= user_url(current_user) %>">Your Page</a>
</div>
