<% themself = current_user_id.to_i == params[:id].to_i %>

<%= render "shared/errors" %>
<%= render "shared/messages" %>

<h2><%= @user.username %>'s Profile</h2>

<br>
<% if themself %>
  <a href="<%= new_task_url %>">New Task</a>
<% end %>
<h2><%= @user.username %>'s Tasks:</h2>


<% if themself %>

  <ul>
    <% @user.tasks.each do |task| %>
    <li>
      <%= task.title %>
      <%= task.description %>
      <% if task.private == true %>
        <p>Private</p>
        <form action="<%= task_url(task) %>" method="post">
          <%= auth_token %>
          <input type="hidden" name="_method" value="PATCH">
          <input type="hidden" name="task[private]" value="false">
          <input type="submit" name="submit" value="Make Public">
        </form>
        <% else %>
        <p>Public</p>
        <form action="<%= task_url(task) %>" method="post">
          <%= auth_token %>
          <input type="hidden" name="_method" value="PATCH">
          <input type="hidden" name="task[private]" value="true">
          <input type="submit" name="submit" value="Make Private">
        </form>
        <% end %>
        <% if task.completed %>
        <p>Completed</p>
        <form action="<%= task_url(task) %>" method="post">
          <%= auth_token %>
          <input type="hidden" name="_method" value="PATCH">
          <input type="hidden" name="task[completed]" value="false">
          <input type="submit" name="submit" value="Make Task Ongoing">
        </form>
        <% else %>
        <p>Ongoing</p>
        <form action="<%= task_url(task) %>" method="post">
          <%= auth_token %>
          <input type="hidden" name="_method" value="PATCH">
          <input type="hidden" name="task[completed]" value="true">
          <input type="submit" name="submit" value="Complete Task">
        </form>
        <% end %>
        <br>
        <form action=" <%= task_url(task) %> " method="post">
          <input type="hidden" name="_method" value="DELETE">
          <%= auth_token %>
          <input type="submit" name="submit" value="Delete <%= task.title %> Task">
        </form>
        <br>
        <a href="<%= edit_task_url(task) %>">Edit Task</a>
        <a href="<%= task_url(task) %>">View Task</a>
      </li>
      <% end %>
    </ul>

    <br>
<% else %>

  <ul>
    <% Task.find_public_by_user_id(@user.id).each do |task| %>
    <li>
      <a href="<%= task_url(task) %>">
        <%= task.title %>
      </a>
      <br>
      <%= task.description %>
      <% if task.private == true %>
        <p>Private</p>
      <% else %>
        <p>Public</p>
      <% end %>

      <% if task.completed %>
      <p>Completed</p>
      <% else %>
      <p>Ongoing</p>
      <% end %>
    </li>
    <% end %>
  </ul>

<% end %>


<div class="foot">
  <a href="<%= tasks_url %>">All Tasks</a>
  <a href="<%= users_url %>">All Users</a>
  <a href="<%= user_url(current_user) %>">Your Page</a>
</div>
